.game-result {
    max-width: 300px;
    margin: 60px auto 0;
    padding: 20px 10px;
    text-align: center;
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0 0 20px;
    }
    p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0 0 20px;
    }
}
